* {
    background: #e9ecf8;
    font-family: 'Inter' , sans-serif;
    font-weight: 400;
    

    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 32px;    
}

main {
    display: flex;
    justify-content: space-evenly;       
    height: 80vh;
    
    
}

.logoImg{
    display: flex;
    margin-top: 20px;
    
}

.elements {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-bottom: 2vh;
    
}

.alerta_text_icon {
    display: flex;
    margin-bottom: 0vh;   
}

.elementInput {
    display: flex;
    margin-bottom: 40vh;
    
}

.information_div{
    display: flex;
}

.iconInformation {
    display: flex;
    height: 30px;
}

.inputText { 
    display: flex;   
    font-size: 32px;
    border: none;
    color: #0A3871;       
}

::placeholder { color: #0A3871; }
    .inputText:focus {
    outline: none;
}

.elementForm_direita {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    
}

.imgIluster {   
   display: flex;
   width: 30;
   height: 280px;
   
}


.elementForm {
    display: flex;
    flex-direction: column;       
    font-weight: 300;
    font-size: 10px; 
    border: none;
    border-radius: 32px;
    color: #0A3871;
}
.elementForm:focus {
    outline: none;
}

.buttons {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    padding: 0%;
    width: fixed 680px;
    height: 67px;
    gap: 24px;
    
}

.button{
    font-size: 32px;
    background-color: #0A3871;
    border: 19x solid #0A3871;
    border-radius: 24px;
    color: #d8dfe8;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.botao__descriptografar {
    font-size: 32px;
    background-color: #d8dfe8;
    border: 19x solid #d8dfe8;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.buttonForm {
    display: flex;
    justify-content: center;
    font-size: 32px;
    background-color: #0A3871;
    border: 19x solid #0A3871;
    border-radius: 24px;
    color: #d8dfe8;
    height: 67px;
    width: 100%;
    
    
}

.information {
    display: flex;
    
    text-align: center;
    color: #495057;
    font-size: 25px;
    opacity: 80%;
    margin:0px;
    
}

.textOne {
    display: flex;
    color: #020303;
    font-size: 30px;
    border: none;
    
     
    
    
}
.textTwo {
    color: #343a40;
    font-size: 16px;   
    text-align: center;
    
}


.inputForm {
    display: flex;
    padding: 20px; 
    border: none;
    font-size: 32px;
    color: #0A3871;  
    height: 100%;  
}

.rodape {
    
    background-color: #0A3871;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 0;
}

.rodapeText{
    background-color: #0A3871;
}

@media screen and (max-width: 798px) {

    body {
        display: flex;
        flex-direction: column;
        gap: 0px; 
        padding-top: 26px;   
    }
    
    main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 0px;       
        margin:  0px;
        flex-direction: column; 
        gap: 20px;   
        height: 60%;
    }

    .logoImg{
        display: flex;
        margin: 5px;
        
    }
    
    .elements {
        padding-top: 10px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        width: 90%;
        gap: 10px;
    }
    .elementInput {
        display: flex;
        margin: 0;    
        width: 100%;
        height: 100%;   
    }

    .imgIluster {   
        display: flex;
        width: 30;
        height: 200px; 
        ;     
     }

    .button_form {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .buttons {
        display: flex;
        align-items: center;
        margin-top: 0px;
        padding: 0%;
        height: 67px;
        gap: 15px;
        
    }
    
    .button, .botao__descriptografar {
        width: 90%; /* Ajusta a largura dos botões */
    }
    .inputForm {
        display: flex;
        margin: 0px;
        padding: 30px;
        border: none;
        font-size: 32px;
        color: #0A3871;
        height: 220px;
        width: 100%;
    }

    .elementForm {
        display: flex;
        flex-direction: column;
        font-size: 20px; 
        border-radius: 100px;
        color: #0A3871;
        width: 90%;
        gap: 10px;   
    }

    .imgIluster {
         
        display: flex;
        width: 30%;
        height: 8%;  
    }

    .textOne {
        font-size: 30px;
        
    
    }
    .textTwo {
        font-size: 20px;   
        
    }
    .buttons {
        display: flex;
        align-items: center;
        height: 67px;
        gap: 10px;
        width: 100%;    
    }

    .elementForm_direita {
        display: flex;
        height: 0%;
        width: 100%;
        gap: 30px;
        
    }

    .buttonForm {  
        display: flex;  
        font-size: 32px;
        border-radius: 24px;
        color: #d8dfe8;    
    }

    .rodape {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        text-align: center;     
       
    }
    .rodapeText {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 479px) {

    body {
        display: flex;
        flex-direction: column;
        gap: 10px;    
    }

    main {
        display: flex;
        padding-top: 0px;
        padding-bottom: 1px;
        justify-content: space-around;
        align-items: center;
        flex-direction: column; 
        gap: 20px;   
        
    }

    .button{
        font-size: 18px;
 
       
    }

    .buttonForm {  
        display: flex;  
        font-size: 18px; 
    }

    .imgIluster {   
        display: flex;
        width: 50%;
        height: 80%;
        
     }

     .textOne {
        font-size: 20px;
        
    
    }
    .textTwo {
        font-size: 20px;   
        
    }

    .information {
       
        font-size: 20px;
  
    }

    .inputForm {
        display: flex;
        margin: 0px;
        padding: 30px;
        border: none;
        font-size: 32px;
        color: #0A3871;
        height: 170px;
        width: 100%;
    }

}
