* {
    background: #e9ecf8;
    font-family: 'Inter' , sans-serif;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}

main {
    display: flex;
    padding-left: 80px;

}

.logoImg{
    margin-top: 10px;
    
}

.elements {
    margin-right: 10px;
}

.elementInput {
    padding-right: 20px;
    padding-bottom: 30px;
    

}

.inputText {
    font-size: 32px;
    border: none;
    color: #0A3871;
    margin-top: 50px;
    margin-bottom: 345px;
    padding-top: 10px;
    text-transform: lowercase;
}

::placeholder { color: #0A3871; }
    .inputText:focus {
    outline: none;
}

.imgIluster {
    margin-top: 40px;
    margin-left: 100px;
    position: absolute;
    width: 336px;
    top: 30px;
    margin-left: 30px;
}


.elementForm {
    font-weight: 300;
    font-size: 30px;
    background: white;
    border: none;
    border-radius: 32px;
    color: #0A3871;
    margin-left: 808px;
    margin-top: 20px;
    margin-bottom: 100px;
    padding-left: 10px;
    position: fixed;
    width: 22%;
}
.elementForm:focus {
    outline: none;
}

.buttons {
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
    padding: 0%;
    width: fixed 680px;
    height: 67px;
    gap: 24px;
    
}

.button{
    font-size: 32px;
    background-color: #0A3871;
    border: 19x solid #0A3871;
    border-radius: 24px;
    color: #d8dfe8;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.botao__descriptografar {
    font-size: 32px;
    background-color: #d8dfe8;
    border: 19x solid #d8dfe8;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.buttonForm {
    font-size: 32px;
    background-color: #0A3871;
    border: 19x solid #0A3871;
    border-radius: 24px;
    color: #d8dfe8;
    cursor: pointer;
    height: 67px;
    width: 328px;
    
    
}

.information {
    margin-top: 200px;
    color: #495057;
    font-size: 20px;
    height: 18px;
    opacity: 80%;
    margin-top: 90px;
    padding: 10px;
}

.textOne {
    color: #343a40;
    font-weight: 700;
    font-size: 24px;
    border: none;
    text-align: center;
    margin-top: 230px;
    margin-left: 30px;
    position: absolute;
    width: 336px;
    top: 150px;
}
.textTwo {
    color: #343a40;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 320px;
    margin-left: 30px;
    position: absolute;
    width: 336px;
    top: 150px;
}


.inputForm {
    border: none;
    font-size: 32px;
    color: #0A3871;
    margin-left: 10px;
    background: white;
    margin-top: 20px;
    width: 90%;
}

.rodape {
    margin-top: 106px;
    background-color: #0A3871;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 0;
}

.rodapeText{
    background-color: #0A3871;
}


@media (max-width: 1200px) {
    .logo_inicio {
        padding: 5% 10 6 3;
    }
    
    main {
        padding-left: 30px;
        margin-bottom: 80px;
        padding-left: 20px;
        
    }
    .inputText {
    margin-bottom: 60px;
    }
    
    .elementForm {
        background: white;
        border: none;
        border-radius: 72px;
        color: #0A3871;
        margin-left: 5px;
        margin-right: 10px;  
        margin-top: 480px;
        position:absolute;
        width: 660px
    }

    .inputForm {
        margin-left: 10px;
        background: white;
        margin-top: 20px;
    }
    .imgIluster {
        display: none;
    }
    
    .textOne { 
        border: none;
        text-align: center;
        margin-top: 30px;
        margin-left: 180px;
        position: absolute;
        width: 336px;
        top: 0px;
    }
    .textTwo {
        
        text-align: center;
        margin-top: 20px;
        margin-left: 180px;
        position: absolute;
        width: 336px;
        top: 80px;
    }
    .buttonForm {
        margin-left: 170px;
        margin-bottom: 20px;
    }
    .rodape {
        display: none;
    }
}